body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  background-color: #1e1e1f;
  font-family: monospace;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 50px;
}

.terminal {
  border-radius: 8px;
  width: 600px; /* Fixed width */
  min-height: 100px; /* This grows with the content */
  white-space: pre-wrap; /* Allows text to wrap to the next line */
  word-break: break-word; /* Breaks long words */
}

.track-text {
  color: #FFFFFF; /* White for the text */
  font-family: monospace; /* Monospace for terminal look */
}

.tracks-container {
  display: flex;
  flex-direction: column;
}

.track {
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0; /* Start hidden, then reveal the track when typing starts */
}

.track-number {
  color: #0cbd79;
  font-weight: bold;
}

.track-name {
  color: #cccccc; 
}

.track-artist {
  color: #AAAAAA;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;     /* Center them horizontally */
}

.ascii-art pre {
  font-family: monospace;
  color: #0cbd79; /*Green terminal-like color */
  text-align: center; /* Center ASCII art */
  margin-bottom: 20px; /* Add space between ASCII art and terminal */
  background-color: transparent;
  border-color: transparent;
}

/* Center the content both vertically and horizontally */
.termify-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

/* Style the title */
.termify-title {
  font-size: 2.2em;
  margin-bottom: 20px;
  color: #cccccc;
}

/* Style the login button */
.termify-login-button {
  font-size: 15px;
  color: #cccccc;
  text-decoration:none;
  background-color: #1e1e1f;
  border: 1px solid  #cccccc;
  border-radius: 0.1875rem;
  box-shadow: 0 0 0 2px #1e1e1f, 0 0 0 5px  #cccccc;
  cursor: pointer;
  display: inline-block;
  width: 140px;
  margin-top: 10px; 
  margin-bottom: 20px;
}
/* Hover effect for the login button */
.termify-login-button:hover {
  background-color: #cccccc;
  color:#1e1e1f;
}

/* Style for the command-line text */
.command-line {
  color: #0cbd79; /* Green text for a terminal effect */
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 0px;
}

.instr-command-line {
  color: #cccccc; /* Green text for a terminal effect */
  display: inline-block;
  margin-bottom: 0px; /* Add space between the command line and terminal */
}

.command{
  color: #e5e50e;
  margin-left: 0px;
}

.instr{
  color: #cccccc;
}


#command-input {
  font-size: 16px;
  margin-left: 2px;
  border: none;
  outline: none;
  background: none;
  font-family: monospace;
  width: auto;
  width: auto; /* Automatically size the input based on the text */
  display: inline; /* Keep the input in the same line as the text */
}

.command{
  color: #e5e50e;
  margin-left: 0px;
}


.info-message{
  color: #13a7cd;
}
.error-message {
  color: #d75959; /* Red */
}

